<form>
	<div class="grid-form img-rounded">
        <div class="grid-field-title grid-field img-rounded"><label> Browse Venging Machines </label></div>
        
		<div class="grid-field"> <label for="searchText">Search Text: </label><input id="sText" maxlength="30"
                class="form-control" name="searchText" type="text" placeholder=" " required></div>
                
        <div class="grid-field"> <label for="searchType">Search Type </label>
            <select id="sType" name="searchType">
                <option value="vmName">Vending Machine Name</option>
                <option value="vmId">Vending Machine ID</option>
                <option value="snackType">Snack Type</option>
                <option value="popHigh">Popularity (Highest)</option>
                <option value="popLow">Popularity (Lowest)</option>
            </select>
            <div id="btn-container">
            <input type="submit" class="btn btn-primary btn-md" style="margin-top:3ex" (click)="doSearch()" name="submit"
                value="Search" />
            </div>
        </div>
	</div>
</form>