<div class="main-container">

    <div class="vendingmachine">
        <div class="vm-content" [style.background-color]="currVendingMachine.mainColor">
            <div class="sTitle">
                {{currVendingMachine.name}}
            </div>
            <div class="sDisplayBox"> 
                <div *ngFor="let snack of currVendingMachine.snacks">
                    <div class="individualSnack" (click)="open(snack)">{{snack.snackName}}</div>
                </div>
                <div style="padding-bottom: 15px"> </div>

            </div>
            <div class="leftBottom">
                <div class="vmTheme"><b style="margin-right: 20px;">Theme:</b> {{currVendingMachine.theme}}</div>
                <div class="vmDescSlot"><b>Description:</b> <div class="vmDesc">{{currVendingMachine.description}}</div></div>
                
            </div>
        </div>
        <div class="vm-interact" [style.background-color]="currVendingMachine.secondaryColor">
            <div class="purchaseBtnSec">
                <span class="button2">Give Rating <fa-icon [icon]="star"></fa-icon></span>
        </div>
    </div>

</div>
