.main-container {
    display: grid;
    justify-items: center;
    margin-top: 50px
}

.vendingmachine {
    display: grid;
    grid-template-columns: 420px 150px;
    height: 750px;
    align-content: center;
}

.vm-content {
    display: grid;
    background-color: rgb(127, 165, 236);
    height: 750px;
    min-width: 420px;
    border-top-left-radius: 45px;
    padding-top: 17px;
    justify-items: center;
    grid-template-rows: auto 3.5fr 2fr;
}

.vm-interact {
    background-color: rgb(94, 98, 105);
    height: 750px;
    border-top-right-radius: 45px;
}

.sTitle {
    font-family: 'Play', sans-serif;
    font-size: x-large;
}

.individualSnack{
    cursor: pointer;
}
.individualSnack:hover{
    color: blue;
}

.sDisplayBox {
    background-color: white;
    min-height: 500px;
    min-width: 360px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-y: auto;
}

.leftBottom {
    font-family: 'Play', sans-serif;
    justify-self: start;
    padding-top: 10px;
    padding-left: 25px;
}

.vmDescSlot {
    margin-top: 8px;
}

.vmDesc {
    overflow-y: auto;
}

.purchaseBtnSec{
    display:grid;
    justify-items: center;
}

span {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: white;
    background: #F2385A;
    top: 100px;
    padding: 6px;
    font-size: 12pt;
    border-radius: 2px;
    box-shadow: 0px 15px 0px 0px #f02046, 0px 0px 20px 0px #bbb;
    transition: all 0.2s;
    cursor: pointer;
    text-align: center;
}

span:active {
    top: 108px;
    box-shadow: 0px 7px 0px 0px #f02046;
}

.button2 {
    background-color: #3498DB;
    box-shadow: 0px 10px 0px 0px #1d6d9d;
}

.button2:active {
    box-shadow: 0px 7px 0px 0px #258cd1;
}

/* ------------------ CSS for Ratings ------------------------ */
#ratingsOverlay {	
    background: rgba(0, 0, 0, .5);	
    width:      100%;	
    height:     100%; 	
    z-index:    10;	
    top:        0; 	
    left:       0; 	
    position:   fixed; 	
}

.ratingsContainer {	
    margin-top: 100px;	
    padding: 20px;
    background: #fff;	
    width: 400px;	
    height: auto;	
    margin-left: auto;	
    margin-right: auto;	
    text-align: center;	
    color: black;	
    border-radius: 25px;
    background-color: #fdfdfd;	
}

.ratingsForm {
    font-family: 'Play', sans-serif;
    font-size: medium;
}

.reviewScroll {
    overflow-y: scroll;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
    height: 400px;
    background-color: #fdfdfd;	
}

.reviewBox {
    border-bottom: 1px solid grey;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #fdfdfd;	
}

#ratingSelectBox {
    margin: auto;
    width: 120px;
    text-align: left;
}

.ratingButton {
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
    width: 140px;
    border: 1px solid grey;
    border-radius: 5px;
}

.radioBtn {
    margin-right: 5px;
}

.starsColored {
    color: #f02046;
}