.main-container {
    display: grid;
    justify-items: center;
    margin-top: 50px
}

.vendingmachine {
    display: grid;
    grid-template-columns: 420px 150px;
    height: 750px;
    align-content: center;
}

.vm-content {
    display: grid;
    background-color: rgb(184, 206, 247);
    height: 750px;
    min-width: 420px;
    border-top-left-radius: 45px;
    padding-top: 17px;
    justify-items: center;
    grid-template-rows: auto 3.5fr 2fr;
}

.vm-interact {
    background-color: rgb(39, 42, 48);
    height: 750px;
    border-top-right-radius: 45px;
}

.sTitle {
    font-family: 'Play', sans-serif;
    font-size: x-large;
}

.sDisplayBox {
    background-color: white;
    min-height: 500px;
    min-width: 360px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-y: auto;
}

.leftBottom {
    font-family: 'Play', sans-serif;
    justify-self: start;
    padding-top: 10px;
    padding-left: 25px;
}

.vmDescSlot {
    margin-top: 8px;
}

.vmDesc {
    overflow-y: auto;
}

.purchaseBtnSec{
    display:grid;
    justify-items: center;
}

span {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: white;
    background: #F2385A;
    top: 100px;
    padding: 6px;
    font-size: 12pt;
    border-radius: 2px;
    box-shadow: 0px 15px 0px 0px #f02046, 0px 0px 20px 0px #bbb;
    transition: all 0.2s;
    cursor: pointer;
    text-align: center;
}

span:active {
    top: 108px;
    box-shadow: 0px 7px 0px 0px #f02046;
}

.button2 {
    background-color: #3498DB;
    box-shadow: 0px 10px 0px 0px #1d6d9d;
}

.button2:active {
    box-shadow: 0px 7px 0px 0px #258cd1;
}