h1 {
  font-family: 'Play', sans-serif;
  font-size: xx-large;
  text-align: center;
}

.center {
  display: grid;
}

form {
  font-family: 'Play', sans-serif;
  font-size: x-large;
  display: inline-block;
  font-size: larger;
}
.snacksContainer{
  display: grid;
  grid-template-rows: auto 20px;
}
.snacksBloc {
 
  display: grid;
  justify-items: center;
  grid-gap: 4px;
}
.snacks{
  color: black;
  background-color: rgb(198, 222, 255);
  width: 80%;
  text-align: center;
}
.addremove{
  justify-self: end;
  margin-right: 10px;
  font-size: xx-large;
}
.plus{
  cursor: pointer;
  color: blue;
}
.minus{
  cursor: pointer;
  color: red;
}

/*#payment {
    float: right; 
  }  this can be used to put the payment input to the left */

.regForm {
  background-color: azure;
  display: block;
  margin: 0 auto;
}

button {
  background-color: rgb(243, 203, 243);
  font-size: x-large;
  font-family: 'Play', sans-serif;
}

.regButtonSec {
  display: grid;
  justify-items: center;
  justify-content: center;
}

.grid-form {
  width: 90%;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.25vw;
  background-color: white;
  padding: 2.3vw;
  margin-top: 20px;
}

.grid-field {
  color: #9592ff;
  padding: 10px;
}

.grid-field>input {
  margin-left: 1vw;
}

.grid-field-title {
  grid-column: span 2;
  text-align: center;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #9592ff;
}

.grid-field-huge {
  grid-column: span 2;
}

.grid-field-6 {
  display: grid;
  grid-row-start: 6;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.25vw;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #9592ff !important;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
  background-color: #ff7571 !important;
}

input {
  width: 100%;
}

.addSnackFont {
  font-family: 'Play', sans-serif;
  font-size: medium;
}


.viewOverlay {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  justify-items: stretch;
  padding-bottom: 4ex;
  align-items: start;
}

.background-overlay {
  background-color: #4d4d4d;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;

}

.addSnackContainer {	
  margin-top: 100px;	
  padding: 20px;
  background: #fff;	
  width: 70%;
  text-align: center;	
  color: black;	
  border-radius: 25px;
  background-color: #fdfdfd;	
  z-index: 11;
  justify-self: center;
}
.sTitle {
    font-family: 'Play', sans-serif;
    font-size: x-large;
}
.twoField{
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 20px;
}