
	<div class="grid-form img-rounded">
		<div class="grid-field-title grid-field img-rounded"><label> ACCOUNT INFORMATION </label> </div>
		<div class="grid-field" style="margin-top:30px"> 
			<label for="vendingMachingName">Vending Machine Name:&nbsp;</label>
            <input type="text"  id="vendingMachingName" name="vendingMachingName" *ngIf="loggedUser"><br><br>
			</div>
		<div class="grid-field">
			<label for="description">Description:&nbsp; </label>
			<Input type="text" id="description" name="description"  *ngIf="loggedUser" ><br><br>
		</div>
		<div class="grid-field">
			<label for="theme">Theme:&nbsp; </label>
			<input type="text" id="theme" name="theme" *ngIf="theme" ><br><br>
		</div>
		<div class="grid-field">
			<label for="mainColor">Main Color:&nbsp;</label>
			<input type="color"  id="mainColor" name="mainColor" *ngIf="loggedUser" ><br><br>
		</div>
		
		<div class="grid-field">
			<label for="secondaryColor">Secondary Color:&nbsp;$ </label>
			<input type="color" id="secondaryColor" name="secondaryColor" *ngIf="loggedUser" ><br><br>
        </div>
        
        <div class="grid-field">
			<label for="snacks">Snacks:&nbsp;</label>
			<input type="text" id="snacks" name="snacks" *ngIf="loggedUser" ><br><br>
		</div>

	</div>