@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
.sidenav-container {
  height: 100%;
}

.body {
  background-color: rgb(218, 223, 255);
}
.mat-toolbar-row, .mat-toolbar-single-row{
  height: 43px !important;
}

.mat-toolbar.mat-primary {
  background: rgb(156, 170, 255);
  background: linear-gradient(90deg, rgba(156, 170, 255, 1) 14%, rgba(46, 208, 255, 1) 48%, rgb(255, 153, 233) 94%);
  /*
  border-bottom: white;
  border-right: none;
  border-top: none;
  border-left: none;
  border-width: 2px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-style: solid;*/
  box-shadow:  2px 1px 3px #8d8cbf;
}

.noOutline:focus {
  outline: 0 !important;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.topNav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  align-items: center;
}

.headerTitle {
  justify-self: start;
  font-family: 'Play', sans-serif;
  font-size: larger;
  cursor: pointer;
}

.leftIcon {
  transition: all 0.5s ease-out;
}

#mainLogo {
  justify-self: center;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

#mainLogo:hover {
  transform: scaleX(1.5) scaleY(1.5) translateY(0.35ex);
}

.topNavLinks {
  justify-self: end;
}

.topNavLinks>a {
  font-family: 'Play', sans-serif;
  font-size: 12pt;
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

.mat-menu-panel{
    margin-top: 40px !important;
    background-color: #ffaaed;
}
button.mat-menu-item {
  color: white !important;

}
