<ng-container *ngIf="snackOfInterest">
    <div>
        <h1>Choose one of your snacks to trade for: {{snackOfInterest.snackName}}</h1>
        <!--Implement if we can make offer for multiple snacks
        <ol>
            <li *ngFor="let s of userSnacks ">
                <span>{{s.name}}</span>
                <span>
                    <button id={{s.id}} type="button" (click)="makeOffer($event)">Make Offer</button>
                </span>
            </li>
        </ol>
        -->
    </div>
    <ol>
        <li *ngFor="let s of userSnacks ">
            <span>{{s.snackName}}</span>
            <span>
                <button id={{s.id}} type="button" (click)="makeOffer($event)">Make Offer</button>
            </span>
        </li>
    </ol>
    <div><button type="button" (click)="cancel()">Cancel</button></div>
</ng-container>
