<div class="mycontainer" id="displayVendingMachines">
    <div class="vm-cell">
        <a href='#'>
            <figure class="caption">
                <img class="img-rounded" src="https://imgur.com/DTcVDP7.png" />
                <figcaption class="caption-text img-rounded">
                    <div>
                        <div>Vending Machine Name</div>
                        <div>Theme: default</div>
                    </div>
                </figcaption>
            </figure>
        </a>
    </div>
    <div class="vm-cell">
        <a href='#'>
            <figure class="caption">
                <img class="img-rounded" src="https://imgur.com/DTcVDP7.png" />
                <figcaption class="caption-text img-rounded">
                    <div>
                        <div>Vending Machine Name</div>
                        <div>Theme: default</div>
                    </div>
                </figcaption>
            </figure>
        </a>
    </div>
    <div class="vm-cell">
        <a href='#'>
            <figure class="caption">
                <img class="img-rounded" src="https://imgur.com/DTcVDP7.png" />
                <figcaption class="caption-text img-rounded">
                    <div>
                        <div>Vending Machine Name</div>
                        <div>Theme: default</div>
                    </div>
                </figcaption>
            </figure>
        </a>
    </div>
    <div class="vm-cell">
        <a href='#'>
            <figure class="caption">
                <img class="img-rounded" src="https://imgur.com/DTcVDP7.png" />
                <figcaption class="caption-text img-rounded">
                    <div>
                        <div>Vending Machine Name</div>
                        <div>Theme: default</div>
                    </div>
                </figcaption>
            </figure>
        </a>
    </div>
    <div class="vm-cell">
        <a href='#'>
            <figure class="caption">
                <img class="img-rounded" src="https://imgur.com/DTcVDP7.png" />
                <figcaption class="caption-text img-rounded">
                    <div>
                        <div>Vending Machine Name</div>
                        <div>Theme: default</div>
                    </div>
                </figcaption>
            </figure>
        </a>
    </div>
    <div class="vm-cell">
        <a href='#'>
            <figure class="caption">
                <img class="img-rounded" src="https://imgur.com/DTcVDP7.png" />
                <figcaption class="caption-text img-rounded">
                    <div>
                        <div>Vending Machine Name</div>
                        <div>Theme: default</div>
                    </div>
                </figcaption>
            </figure>
        </a>
    </div>
    <div class="vm-cell">
        <a href='#'>
            <figure class="caption">
                <img class="img-rounded" src="https://imgur.com/DTcVDP7.png" />
                <figcaption class="caption-text img-rounded">
                    <div>
                        <div>Vending Machine Name</div>
                        <div>Theme: default</div>
                    </div>
                </figcaption>
            </figure>
        </a>
    </div>
    <div class="vm-cell">
        <a href='#'>
            <figure class="caption">
                <img class="img-rounded" src="https://imgur.com/DTcVDP7.png" />
                <figcaption class="caption-text img-rounded">
                    <div>
                        <div>Vending Machine Name</div>
                        <div>Theme: default</div>
                    </div>
                </figcaption>
            </figure>
        </a>
    </div>
</div>