

	<div class="grid-form img-rounded">
		<div class="grid-field-title grid-field img-rounded"><label> ACCOUNT INFORMATION </label> </div>
		<div class="grid-field" style="margin-top:30px"> 
			<label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" value={{firstName}} readonly><br><br>
			</div>
		<div class="grid-field">
			<label for="lastName">Last Name</label>
			<input type="text" id="lastName" name="lastName" value={{lastName}} readonly><br><br>
		</div>
		<div class="grid-field">
			<label for="username">Username</label>
			<input type="text" id="username" name="username" value={{username}} readonly><br><br>
		</div>
		<div class="grid-field">
			<label for="email">Email </label>
			<input type="text" id="email" name="email" value={{email}} readonly><br><br>
		</div>
		
		<div class="grid-field">
			<label for="money">Balance </label>
			<input type="number" id="money" name="money" value={{money}} readonly><br><br>
		</div>

	</div>
