<h1>Please enter registration information!</h1>
<form align="center">			
	<div class="regForm">
	
    		
		<label for="firstName">First Name:</label>
		<input type="text" maxlength="30" id="fName" name="firstName" required>
		<label for="lastName">&emsp;Last Name:</label>
		<input type="text" maxlength="30" id="lName" name="lastName" required>
			
		<br><br><label for="email">Email:</label>
		<input type="email" maxlength="30" id="email" name="email" required>
		<label for="payment">&emsp;Payment of: $</label>
        <input type="number" placeholder="000.00" step="0.01" min="0" max="999.99" id="payment" name="payment" required>
			
		<br><br><label for="username">Username:</label>
		<input type="text" maxlength="30" id="username" name="username" required>
		<label for="password">&emsp;Password:</label>
		<input type="password" minlength="8" maxlength="30" id="password" name="password" required>
				
		<div class="regButtonSec">
			<br><button type="button">Finalize Account!</button>
		</div>
	</div>
</form>