h1{
  font-family: 'Play', sans-serif;
  font-size: xx-large;
  text-align: center
  ;
}

form {
  font-family: 'Play', sans-serif;
  font-size: x-large;
  display: inline-block;
  float: left;
  
}

/*#payment {
  float: right; 
}  this can be used to put the payment input to the left */



.regForm{
  background-color: azure;
  display: block;
  margin: 0 auto;
  
}

button {
  background-color: rgb(243, 203, 243);
  font-size: x-large;
  font-family: 'Play', sans-serif;
  
}

.regButtonSec{
  display:grid;
  justify-items: center;
  justify-content: center;
}

body {
  text-align: center;
}